
.enemy>.SOCKS{
position:relative;
top:25px;
left:650px;
height:200px;
width:200px;
}


.enemy>.SOCKS>.sock01{
position:absolute;
height:31%;
width:31%;
}
.enemy>.SOCKS>.sock01>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock01>.border{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock01>.movingBar{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock01>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock01>.iconsock{
position:absolute;
height:100%;
width:100%;	


}




.enemy>.SOCKS>.sock02{
position:absolute;
height:31%;
width:31%;
margin-left:33%;
}
.enemy>.SOCKS>.sock02>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock02>.border{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock02>.movingBar{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock02>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock02>.iconsock{
position:absolute;
height:100%;
width:100%;	

}

.enemy>.SOCKS>.sock03{
position:absolute;
height:31%;
width:31%;
margin-left:66%;
}
.enemy>.SOCKS>.sock03>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock03>.border{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock03>.movingBar{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock03>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock03>.iconsock{
position:absolute;
height:100%;
width:100%;	

}




.enemy>.SOCKS>.sock04{
position:absolute;
height:31%;
width:31%;
margin-top:33%;
}
.enemy>.SOCKS>.sock04>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock04>.border{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock04>.movingBar{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock04>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock04>.iconsock{
position:absolute;
height:100%;
width:100%;	

}



.enemy>.SOCKS>.sock05{
position:absolute;
height:31%;
width:31%;
margin-top:33%;
margin-left:33%;
}
.enemy>.SOCKS>.sock05>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock05>.border{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock05>.movingBar{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock05>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock05>.iconsock{
position:absolute;
height:100%;
width:100%;	

}


.enemy>.SOCKS>.sock06{
position:absolute;
height:31%;
width:31%;
margin-top:33%;
margin-left:66%;
}
.enemy>.SOCKS>.sock06>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock06>.border{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock06>.movingBar{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock06>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock06>.iconsock{
position:absolute;
height:100%;
width:100%;	

}



.enemy>.SOCKS>.sock07{
position:absolute;
height:31%;
width:31%;
margin-top:66%;
}
.enemy>.SOCKS>.sock07>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock07>.border{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock07>.movingBar{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock07>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock07>.iconsock{
position:absolute;
height:100%;
width:100%;	

}




.enemy>.SOCKS>.sock08{
position:absolute;
height:31%;
width:31%;
margin-top:66%;
margin-left:33%;
}
.enemy>.SOCKS>.sock08>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock08>.border{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock08>.movingBar{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock08>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock08>.iconsock{
position:absolute;
height:100%;
width:100%;	

}


.enemy>.SOCKS>.sock09{
position:absolute;
height:31%;
width:31%;
margin-top:66%;
margin-left:66%;
}
.enemy>.SOCKS>.sock09>.backBar{
background-color:rgb(144,144,144);
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock09>.border{
position:absolute;
height:100%;
width:100%;
}
.enemy>.SOCKS>.sock09>.movingBar{
position:absolute;
height:100%;
width:100%;	
}
.enemy>.SOCKS>.sock09>.sockStatus{
position:absolute;
height:25%;
width:25%;	
}
.enemy>.SOCKS>.sock09>.iconsock{
position:absolute;
height:100%;
width:100%;	

}